#sutil-app {
  display: grid;
  height: 100%;
  grid-template-rows: 90vh 1fr;
  grid-template-columns: 1fr 0.25fr;
  grid-template-areas:
    "main playlist"
    "player player";
}

main {
  grid-area: main;
}

perla-playlist {
  grid-area: playlist;
  overflow: hidden;
}

perla-player {
  grid-area: player;
}
